In [1]:
import pandas as pd

In [28]:
import numpy as np
import ast
import re

In [2]:
arx = pd.read_csv("/Users/ashnadua/Desktop/IRE-project/sum_it_up_test.csv")

In [3]:
arx.head()

,article,Gold Summary,Generated Summary,Rouge
0,for about 20 years the problem of properties o...,the short term periodicities of the daily suns...,two effects cause the existence of the peak of...,"{'rouge1': array([0.25763359, 0.69948187, 0.37..."
1,it is believed that the direct detection of gr...,we study the detectability of circular polariz...,the following form for was derived in and our ...,"{'rouge1': array([0.04610318, 0.46153846, 0.08..."
2,as a common quantum phenomenon the tunneling t...,starting from the wkb approximation a new barr...,eq x1x2_approx we adopt a woods saxon form fo...,"{'rouge1': array([0.11872146, 0.64197531, 0.20..."
3,for the hybrid monte carlo algorithm hmc xcite...,we study a novel class of numerical integrator...,end aligned the second derivative of the ferm...,"{'rouge1': array([0.09291339, 0.7972973 , 0.16..."
4,recently it was discovered that feynman integr...,new methods for obtaining functional equations...,2prop_relation over a common denominator and ...,"{'rouge1': array([0.09615385, 0.5 , 0.16..."

In [4]:
arx["Rouge"][0]

"{'rouge1': array([0.25763359, 0.69948187, 0.37656904]), 'rouge2': array([0.08986616, 0.24479167, 0.13146853]), 'rouge3': array([0.02681992, 0.07329843, 0.03927069])}"

In [6]:
rouge_scores = arx["Rouge"]

In [44]:
df = pd.DataFrame(rouge_scores)
df.head()

                                               Rouge
0  {'rouge1': array([0.25763359, 0.69948187, 0.37...
1  {'rouge1': array([0.04610318, 0.46153846, 0.08...
2  {'rouge1': array([0.11872146, 0.64197531, 0.20...
3  {'rouge1': array([0.09291339, 0.7972973 , 0.16...
4  {'rouge1': array([0.09615385, 0.5       , 0.16...

In [45]:
df['Rouge'][0]

"{'rouge1': array([0.25763359, 0.69948187, 0.37656904]), 'rouge2': array([0.08986616, 0.24479167, 0.13146853]), 'rouge3': array([0.02681992, 0.07329843, 0.03927069])}"

In [46]:
# function to parse string and convert it into a dictionary with numpy arrays
def parse_rouge(s):
    s = re.sub(r'array\(', '[', s)
    s = re.sub(r'\)', ']', s)
    return eval(s)

In [47]:
df['Rouge'] = df['Rouge'].apply(parse_rouge)

# Split the 'Rouge' column into three separate columns
df = df.join(pd.DataFrame(df.pop('Rouge').values.tolist(), index=df.index))

In [48]:
df.head()

,rouge1,rouge2,rouge3
0,"[[0.25763359, 0.69948187, 0.37656904]]","[[0.08986616, 0.24479167, 0.13146853]]","[[0.02681992, 0.07329843, 0.03927069]]"
1,"[[0.04610318, 0.46153846, 0.08383234]]","[[0.00879121, 0.08888889, 0.016]]","[[0.0, 0.0, 0.0]]"
2,"[[0.11872146, 0.64197531, 0.20038536]]","[[0.04805492, 0.2625, 0.08123791]]","[[0.01605505, 0.08860759, 0.02718447]]"
3,"[[0.09291339, 0.7972973, 0.16643159]]","[[0.03785489, 0.32876712, 0.0678925]]","[[0.01421801, 0.125, 0.02553191]]"
4,"[[0.09615385, 0.5, 0.16129032]]","[[0.03327496, 0.17431193, 0.05588235]]","[[0.01052632, 0.05555556, 0.01769912]]"

### Rouge score represents: Precision, Recall, and F1

In [49]:
for rouge_type in ['rouge1', 'rouge2', 'rouge3']:
    # Flatten the list
    df[rouge_type] = df[rouge_type].apply(lambda x: x[0])
    # Split the column into three separate columns
    df[[f'precision-{rouge_type}', f'recall-{rouge_type}', f'f1-{rouge_type}']] = pd.DataFrame(df[rouge_type].tolist(), index=df.index)
    df = df.drop(columns=[rouge_type])

In [50]:
df.head()

,precision-rouge1,recall-rouge1,f1-rouge1,precision-rouge2,recall-rouge2,f1-rouge2,precision-rouge3,recall-rouge3,f1-rouge3
0,0.257634,0.699482,0.376569,0.089866,0.244792,0.131469,0.026820,0.073298,0.039271
1,0.046103,0.461538,0.083832,0.008791,0.088889,0.016000,0.000000,0.000000,0.000000
2,0.118721,0.641975,0.200385,0.048055,0.262500,0.081238,0.016055,0.088608,0.027184
3,0.092913,0.797297,0.166432,0.037855,0.328767,0.067892,0.014218,0.125000,0.025532
4,0.096154,0.500000,0.161290,0.033275,0.174312,0.055882,0.010526,0.055556,0.017699

In [52]:
average_scores = df.mean().values

In [56]:
print("Average Precision Rouge-1: ", average_scores[0])
print("Average Recall Rouge-1: ", average_scores[1])
print("Average F1 Rouge-1: ", average_scores[2])
print()
print("Average Precision Rouge-2: ", average_scores[3])
print("Average Recall Rouge-2: ", average_scores[4])
print("Average F1 Rouge-2: ", average_scores[5])
print()
print("Average Precision Rouge-3: ", average_scores[6])
print("Average Recall Rouge-3: ", average_scores[7])
print("Average F1 Rouge-3: ", average_scores[8])

Average Precision Rouge-1:  0.16926951439
Average Recall Rouge-1:  0.65884567906
Average F1 Rouge-1:  0.26133767625000004

Average Precision Rouge-2:  0.058481984349999995
Average Recall Rouge-2:  0.22766696063999997
Average F1 Rouge-2:  0.09028843207

Average Precision Rouge-3:  0.0220144051
Average Recall Rouge-3:  0.08501450929000001
Average F1 Rouge-3:  0.03392477762